@import "tailwindcss";

@font-face {
	font-family: "Kelly Slab";
	src:
		local("Kelly Slab"), url("../fonts/ttf/kelly-slab/kelly-slab-regular.ttf");
}

@font-face {
	font-family: "Comic Neue";
	src:
		local("Comic Neue"), url("../fonts/ttf/comic-neue/comic-neue-regular.ttf");
}

:root {
	--tp-base-background-color: hsla(0, 0%, 10%, 0.8);
	--tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
	--tp-button-background-color: hsla(0, 0%, 80%, 1);
	--tp-button-background-color-active: hsla(0, 0%, 100%, 1);
	--tp-button-background-color-focus: hsla(0, 0%, 95%, 1);
	--tp-button-background-color-hover: hsla(0, 0%, 85%, 1);
	--tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
	--tp-container-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
	--tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
	--tp-container-background-color-hover: hsla(0, 0%, 0%, 0.4);
	--tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
	--tp-input-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
	--tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
	--tp-input-background-color-hover: hsla(0, 0%, 0%, 0.4);
	--tp-input-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
}

@theme {
	--color-light: #cfcfcf;
	--color-dark: #262a2b;

	--font-kelly-slab: "Kelly Slab";
	--font-comic-neue: "Comic Neue";
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		@apply hidden;
	}
}

@utility text-shadow {
	text-shadow: 0 0 0.15rem var(--color-black);
}

@layer base {
	html,
	body {
		@apply font-comic-neue font-bold p-0 m-0 top-0 left-0 overflow-hidden bg-light dark:bg-dark;

		@media (prefers-color-scheme: dark) {
			@apply scheme-dark;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-kelly-slab font-normal;
	}
}
